    /*Background Colour*/
body{
  background-color: rgb(255, 252, 234);
  font-family: 'Abril Fatface', cursive;
  font-size: 25px;
  }

    /*Navbar text (Elisa Chetcuti)*/
.navbar-light .navbar-brand {
  color: rgb(232,167,83);
  font-family: 'Abril Fatface', cursive;
  font-size: x-large;
}

    /*Navbar text*/
.navbar-light .navbar-nav .nav-link { 
  color: rgb(232,167,83);
  font-family: 'Abril Fatface', cursive;
  font-size: large;
}

 /* Sidebar - to set size */
.sidenav {
    height: 100%;
    width: 17%; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: rgb(232,167,83);
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 60px;

  }

    /*to set size of illustraiton on sidebar*/
  .portrait{
   max-width: 18%; 
   margin-top: 80px;    
   position: fixed; 
   float: left;
}

/*"contact me" text*/
p{
  text-align: right;
  margin-right: 10%;
  font-size: 45px;
  color: rgb(232,167,83);
}

/*Position of form*/
form{
  margin-left: 30%;
  background-color: rgb(159, 151, 114);
  margin-right: 10%;
  border-radius: 10px;
}

  .form-control{
    border-radius: 10px;
  }
/*input text of form*/
  #exampleFormControlTextarea1{
    font-family: 'Montserrat', sans-serif;
  }

  #exampleFormControlInput1{
    font-family: 'Montserrat', sans-serif;
  }

  #exampleFormControlTextarea2{
    font-family: 'Montserrat', sans-serif;
  }
  
  .form-group{
    color: black;
    margin-left: 10px;
    margin-right: 10px;
  }

  /*footer*/
    footer p{
      padding-top: 10px;
      font-size: 15px;
      line-height: 2px;
        font-family: 'Montserrat', sans-serif;  
        }

        /*to make sidebar disappear and form shift to the left when screen is small*/
        @media (max-width: 767px) {

          form{
            width: 80%;
            margin: 0 auto;
          }
          .sidenav{
            display: none;        
        }
          p{
            font-size: 35px;
          }
        }