/*background image*/
body{
    background-size: 1600px,auto;
    background-color: rgb(255, 252, 234);
}

Label{
    color: white;
    position: absolute;
    top: 25%;
    width: 50%;
    }

/*navbar text (Elisa Chetcuti)*/
.navbar-light .navbar-brand {
    color: rgb(232,167,83);
    font-family: 'Abril Fatface', cursive;
    font-size: x-large;
}

/*navbar text*/
.navbar-light .navbar-nav .nav-link { 
    color: rgb(232,167,83);
    font-family: 'Abril Fatface', cursive;
    font-size: large;
}

/*Text + Image*/
.Image{
    overflow-y: scroll;
    overflow-x: hidden;
}



/*to make image responsive*/
@media (max-width: 767px) {
    .Image {
        margin-left: 50px;
    }
}



