/*background image*/
/*body{
    background-size:x,y;
    background-color: rgb(255, 252, 234);
    overflow-y: hidden;
    overflow-x: hidden;
}*/
body{
    background-color: rgb(255, 252, 234);
}

label{
    color: white;
    position: absolute;
    align-self: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150px;
    }

/*navbar text (Elisa Chetcuti)*/
.navbar-light .navbar-brand {
    color: rgb(232,167,83);
    font-family: 'Abril Fatface', cursive;
    font-size: x-large;
}

/*navbar text*/
.navbar-light .navbar-nav .nav-link { 
    color: rgb(232,167,83);
    font-family: 'Abril Fatface', cursive;
    font-size: large;
}

/*Text + Image*/
.Image{
    overflow-y: hidden;
    overflow-x: hidden;
    size: 100%,100%;
    margin-left: 0;
    margin-right: 0;
}

/*to make image responsive*/
@media (max-width: 767px) {
    .Image {
        margin-left: 0px;
    }
}



