/*background image*/
body{
    background-size: 100%,100%;
    background-color: rgb(255, 252, 234);
    overflow-y: hidden;
}

label{
    color: white;
    position: absolute;
    top: 500px;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1500px;
    }

/*navbar text (Elisa Chetcuti)*/
.navbar-light .navbar-brand {
    color: rgb(232,167,83);
    font-family: 'Abril Fatface', cursive;
    font-size: x-large;
}

/*navbar text*/
.navbar-light .navbar-nav .nav-link { 
    color: rgb(232,167,83);
    font-family: 'Abril Fatface', cursive;
    font-size: large;
}

/*Text + Image*/
.Image{
    overflow-y: hidden;
    overflow-x: hidden;
    max-width: 100%;
    max-height: 100vh;
    margin: 0;
}



/*to make image responsive*/
@media (max-width: 767px) {
    .Image {
        margin-left: 50px;
    }
}



