body{

    background: url(Face.png) no-repeat;
    background-size: 1600px,auto;
    overflow-y: hidden;
}

.navbar-light .navbar-brand {
    color: rgb(232,167,83);
    font-family: 'Abril Fatface', cursive;
    font-size: x-large;
}
.navbar-light .navbar-nav .nav-link { 
    color: rgb(232,167,83);
    font-family: 'Abril Fatface', cursive;
    font-size: large;
}

.Image{
   margin-left: 100px;
    overflow-y: hidden;
}

@media (max-width: 767px) {
    .Image {

        margin-left: 50px;
    }
}