body{
    background-color: rgb(254, 250, 232);
    background-image: url('Face.png'), url('Blue\ Cloud.png'), url('Green\ cloud.png'), url('Brown\ Cloud.png'), url('Orange\ Cloud.png'), url('Text.png');
 
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-position-y: 50px;
    background-size: 100%;

  }


.navbar-light .navbar-brand {
    color: rgb(232,167,83);
    font-family: 'Playfair Display', serif;
    font-size: x-large;
}
.navbar-light .navbar-nav .nav-link { 
    color: rgb(232,167,83);
    font-family: 'Playfair Display', serif;
    font-size: large;
}


      .portrait{

        margin-top: 10px;    
        display: block;
      margin-left: 0;
      margin-right: auto;
      width: 60%;
    }
    

    p{

        margin-left: 50%;
        color: black;
        font-family: 'Playfair Display', serif;
        font-size: 100px;
    }

